<h1>Listing stocks</h1>

<table>
  <thead>
    <tr>
      <th>법인명</th>
      <th>주식코드</th>
      <th>시장</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%=stock.company_name%></td>
        <td><%=stock.stock_code%></td>
        <td><%=stock.market%></td>
        <td><%= link_to 'Show', stock %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
        <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

